<!DOCTYPE html>
<html ng-app="app" ng-controller="MainCtrl as vm">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bienvinida's | {{ vm.$state.current.title }}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="vendor/others/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/others/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/others/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="vendor/angular/angular-confirm/angular-confirm.min.css">
  <link rel="stylesheet" href="src/styles/main.css">
  <link rel="stylesheet" href="src/styles/login.css">
  <link rel="stylesheet" href="src/styles/toaster.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <toaster-container></toaster-container>
  <div class="height-100" ui-view ng-if="vm.$state.current.name === 'login'"></div>
  <div class="wrapper" ng-if="vm.$state.current.name && vm.$state.current.name !== 'login'">
    <header class="main-header"> <a class="logo"> <span class="logo-mini"><b>A</b>LT</span> <span class="logo-lg"><b>Bienvinida's</b></span>
      </a>
      <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a class="dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">{{
                  vm.mainService.userInfo.first_name }} {{ vm.mainService.userInfo.last_name
                  }}</span>
              </a>
            </li>
            <li>
              <a data-toggle="control-sidebar" ng-click="vm.logout()"><i class="fa fa-power-off"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-details">
          <div class="info">
            <p>{{ vm.mainService.userInfo.first_name }} {{ vm.mainService.userInfo.last_name }}</p>
            <a><i class="fa fa-circle text-success"></i> {{ vm.mainService.userInfo.role }}</a>
          </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
          <li ui-sref-active="active">
            <a ui-sref="dashboard">
              <i class="fa fa-tachometer"></i> <span>Dashboard</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="inventory">
              <i class="fa fa-archive"></i> <span>Inventory</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="purchase-order">
              <i class="fa fa-truck"></i> <span>Purchase Order</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="sales">
              <i class="fa fa-money"></i> <span>Sales</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="expenses">
              <i class="fa fa-files-o"></i> <span>Expenses</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-if="vm.mainService.isAdmin()" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="reports">
              <i class="fa fa-bar-chart"></i> <span>Reports</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="suppliers">
              <i class="fa fa-truck"></i> <span>Suppliers</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="customers">
              <i class="fa fa-user-plus"></i> <span>Customers</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-if="vm.mainService.isAdmin()" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="user-management">
              <i class="fa fa-users"></i> <span>User Management</span>
            </a>
          </li>
          <li ui-sref-active="active" ng-if="vm.mainService.isAdmin()" ng-hide="vm.mainService.userInfo.role === 'Employee'">
            <a ui-sref="backup">
              <i class="fa fa-cloud-download"></i> <span>Backup</span>
            </a>
          </li>
        </ul>
      </section>
    </aside>
    <div class="content-wrapper content-padding">
      <section class="wrapper-header">
        <h3>
          {{ vm.$state.current.title }}
        </h3>
      </section>
      <div ui-view></div>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright &copy; 2018 <a href="#">Baguio, Bontuyan, Escuadro</a>.</strong> All rights reserved.
    </footer>
  </div>
  <script src="vendor/others/jquery/dist/jquery.min.js"></script>
  <script src="vendor/others/jquery-ui/jquery-ui.min.js"></script>
  <script src="vendor/others/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="require.php"></script>
  <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-chart.min.js"></script>
  <script type="text/javascript" src="vendor/angular/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-toaster.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-confirm/angular-confirm.min.js"></script>
  <script type="text/javascript" src="src/index.js"></script>
  <script type="text/javascript" src="controllers.php"></script>
</body>

</html>