a {
    cursor: pointer;
}

a.red {
    color: #f56954;
}
.padding-right-10 {
    padding-right: 10px;
}
.fa.medium {
    font-size: 18px;
}
.height-100 {
    height: 100%;
}

.content-padding {
    padding: 20px;
}

.wrapper-header {
    padding-bottom: 20px;
}

.no-pointer {
    pointer-events: none;
}

.modal-header {
    font-size: 18px;
    font-weight: bold;
    color: #3c8dbc;
}
.tab-content {
    min-height: 70vh;
    background: white;
}

.content-wrapper {
    min-height: calc(100vh - 105px);
    background: #dae9f1;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    background: #3c8dbc;
    color: white;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #dae9f1;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-weight: bold;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #3c8dbc;
}

.margin-right-20 {
    margin-right: 20px;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #222d32;
    background: #dae9f1;
    transition: background;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #365b71;
}

.user-details {
    color: white;
    text-align: center;
    padding: 10px;
}
.user-details p {
    margin: 0px;
}
.user-details a {
    font-size: 12px;
}

.inline {
    display: inline-block;
}

.nav-tabs {
    border-bottom: 1px solid #3c8dbc;
}

.nav-tabs>li.active>a {
    border-radius: 0;
    border: 1px solid #3c8dbc !important;
   border-bottom-color: transparent !important;
}
.pos-rel {
    position: relative;
}
.search-output {
    background: #ddeaf2;
    position: absolute;
    width: 92%;
    padding: 10px;
    z-index: 10;
    -webkit-box-shadow: 9px 10px 49px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 49px -9px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 49px -9px rgba(0,0,0,0.75);
}

.search-output .item {
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    background: #c1daea;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.font-small {
    font-size: 10px;
    font-weight: normal;
}

.box-header {
    display: flex;
    align-items: center;
}

.box-header p {
    margin: 0px;
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}

tr.sortable th{
    cursor: pointer;
}