<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-3 col-xs-6">

          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ vm.dashboard.sales }}</h3>

              <p>Sales</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a ui-sref="sales" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">

          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ vm.dashboard.stock }}</h3>

              <p>Stock Count</p>
            </div>
            <div class="icon">
              <i class="fa fa-archive"></i>
            </div>
            <a ui-sref="inventory" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">

          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ vm.dashboard.expense }}</h3>

              <p>Expenses</p>
            </div>
            <div class="icon">
              <i class="fa fa-files-o"></i>
            </div>
            <a ui-sref="expenses" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">

          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ vm.dashboard.customer }}</h3>

              <p>Customers</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-6">
    </div>

  </div>


</section>