<div class="tab-content">
    <div class="box-header">
      <div class="col-sm-6 no-padding">
        <button type="button" class="btn btn-primary btn-flat" ng-click="vm.addExpense()"><i class="fa fa-plus padding-right-10"></i>Add Expense</button>
      </div>
      <div class="col-sm-6 input-group input-group-md">
        <input type="text" class="form-control" ng-model="vm.searchFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
            </span>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Reference #</th>
          <th>Expense Posting</th>
          <th>Category</th>
          <th>Description</th>
          <th>Total Expenses</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="expense in vm.expenses | filter:vm.searchFilter">
          <td>{{ expense.expense_id }}</td>
          <td>{{ expense.expense_posting }}</td>
          <td>{{ expense.expense_type_description }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.expense_total }}</td>
          <td>
            <a class="red padding-right-10" ng-click="vm.deleteExpense(expense.expense_id)">
              <i class="fa fa-trash medium"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>