<uib-tabset active="activeForm">
    <uib-tab index="0" heading="Item Management">
      <div class="tab-content">
        <div class="box-header">
          <div class="col-sm-6 no-padding">
            <button type="button" class="btn btn-primary btn-flat margin-right-20" ng-click="vm.addItem()"><i class="fa fa-plus padding-right-10"></i>Add
              Item</button>
              <label>Filter by: </label>
              <div class="form-group inline margin-right-20">
                  <select class="form-control" 
                      ng-required="true"
                      ng-model="vm.filterCategory"
                      ng-options="category.id_inventory_category as category.name_inventory_category for category in  vm.inventory_categories">
                      <option></option>
                  </select>
                </div> 
            <button class="btn btn-danger btn-flat"  ng-click="vm.propertyName = null; vm.reverse = false">Reset Sort</button>
          </div>
          <div class="col-sm-6 input-group input-group-md">
            <input type="text" class="form-control" ng-model="vm.searchFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
            </span>
          </div>
        </div>
        <div class="box-body">
          <!-- <pre>Sort by = {{vm.propertyName}}; reverse = {{vm.reverse}}</pre> -->
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="sortable">
                <th ng-click="vm.sortBy('sku')">
                  SKU
                  <span class="sortorder" ng-show="vm.propertyName === 'sku'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th ng-click="vm.sortBy('name')">
                  Name
                    <span class="sortorder" ng-show="vm.propertyName === 'name'" ng-class="{reverse: vm.reverse}"></span></th>
                <th ng-click="vm.sortBy('item_inventory_qty')">
                  Quantity
                    <span class="sortorder" ng-show="vm.propertyName === 'item_inventory_qty'" ng-class="{reverse: vm.reverse}"></span></th>
                <th ng-click="vm.sortBy('name_inventory_category')">
                  Inventory Category
                  <span class="sortorder" ng-show="vm.propertyName === 'name_inventory_category'" ng-class="{reverse: vm.reverse}"></span></th>
                <th ng-click="vm.sortBy('item_price')">
                  Unit Price
                  <span class="sortorder" ng-show="vm.propertyName === 'item_price'" ng-class="{reverse: vm.reverse}"></span></th>
                <th ng-click="vm.sortBy('item_inventory_actual_measurement')">
                  Unit Value
                  <span class="sortorder" ng-show="vm.propertyName === 'item_inventory_actual_measurement'" ng-class="{reverse: vm.reverse}"></span></th>
                <th ng-click="vm.sortBy('name_unit_measure')">
                  Unit of Measurement
                  <span class="sortorder" ng-show="vm.propertyName === 'name_unit_measure'" ng-class="{reverse: vm.reverse}"></span></th>
                <!-- <th>Item Type</th> -->
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.inventory_items | filter: { name: vm.searchFilter, id_inventory_category: vm.filterCategory } | orderBy:vm.propertyName:vm.reverse">
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <th ng-class="item.item_inventory_qty >=0 ? 'text-green' : 'text-red' ">{{ item.item_inventory_qty }}</th>
                <td>{{ item.name_inventory_category }}</td>
                <td>{{ item.item_price }}</td>
                <td>{{ item.item_inventory_actual_measurement }}</td>
                <td>{{ item.name_unit_measure }} ( {{ item.unit_measure_label }} )</td>
                <!-- <td>{{ item.is_consumable === '1' ? 'Consumable' : 'Not Consumable' }}</td> -->
                <td>
                  <a class="padding-right-10 text-red" ng-if="item.is_active === '0'" ng-click="vm.updateItemStatus(item)">
                    <i class="fa fa-toggle-off medium"></i>
                    <span class="text-black">Inactive</span>
                  </a>
                  <a class="padding-right-10 text-green" ng-if="item.is_active === '1'" ng-click="vm.updateItemStatus(item)">
                    <i class="fa fa-toggle-on medium"></i>
                    <span class="text-black">Active</span>
                  </a>
                </td>
                <td>
                  <a class="padding-right-10" ng-click="vm.editItem(item)">
                    <i class="fa fa-edit medium"></i>
                  </a>
                  <a class="padding-right-10" ng-click="vm.adjustment(item)" ng-if="!(vm.mainService.userInfo.role === 'Employee')">
                    <i class="fa fa-wrench medium text-purple"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </uib-tab>
  <uib-tab index="1" heading="Stock Management">
    <div class="tab-content">
      <div class="box-header">
        <div class="col-sm-6 no-padding">
          <button type="button" class="btn btn-success btn-flat" ng-click="vm.addStockTransaction(1)"><i class="fa fa-download padding-right-10"></i>Stock
            In
            Item</button>
          <button type="button" class="btn btn-danger btn-flat margin-right-20" ng-click="vm.addStockTransaction(2)"><i class="fa fa-upload padding-right-10"></i>Stock
            Out</button>
            <label>Filter by: </label>
            <div class="form-group inline">
              <select class="form-control" 
                  ng-required="true"
                  ng-model="vm.filterStockTransactionType"
                  ng-options="stock_transaction_type.transaction_type_id as stock_transaction_type.transaction_type_description	 for stock_transaction_type in  vm.stock_transaction_types">
                  <option></option>
              </select>
            </div>
        </div>
        <div class="col-sm-6 input-group input-group-md">
          <input type="text" class="form-control" ng-model="vm.searchFilterStock">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
          </span>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Reference #</th>
              <th>Type</th>
              <th>Transaction Date</th>
              <th>Transaction Category</th>
              <th>Supplier</th>
              <th>Description</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in vm.stockTransactions | filter: { stock_transaction_description: vm.searchFilterStock, transaction_type_id: vm.filterStockTransactionType }">
              <td>{{ transaction.stock_transaction_id }}</td>
              <td>{{ transaction.transaction_type_description }}</td>
              <td>{{ transaction.stock_transaction_date  | date:'dd MMMM yyyy' }}</td>
              <td>{{ transaction.name_inventory_category }}</td>
              <td>{{ transaction.supplier_name }}</td>
              <td>{{ transaction.stock_transaction_description }}</td>
              <td ng-class="transaction.transaction_type_id === '1' ? 'text-green' : 'text-red' " class="text-bold">{{ transaction.stock_transaction_total }}</td>
              <td>
                <a class="padding-right-10" ng-click="vm.printStockTransaction(transaction)">
                  <i class="fa fa-print medium"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </uib-tab>
  <uib-tab index="2" heading="Stock Adjustment Log" ng-if="!(vm.mainService.userInfo.role === 'Employee')">
    <div class="tab-content">
      <div class="box-header">
        <div class="col-sm-6 no-padding">
          <p>(Note: You can adjust stock counts on Item Management.)</p>
        </div>
        <div class="col-sm-6 input-group input-group-md">
          <input type="text" class="form-control" ng-model="vm.searchFilterAdjust">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
          </span>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Transaction #</th>
              <th>SKU</th>
              <th>Name</th>
              <th>System Count</th>
              <th>Adjustment Count</th>
              <th>Adjustment Remarks</th>
              <th>Transaction Date</th>
              <th>Transaction by</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in vm.stockAdjustments | filter:vm.searchFilterAdjust">
              <td>{{ transaction.stock_adjusment_id }}</td>
              <td>{{ transaction.sku }}</td>
              <td>{{ transaction.name }}</td>
              <td>{{ transaction.system_count }}</td>
              <td>{{ transaction.adjustment_count }}</td>
              <td>{{ transaction.adjustment_remarks }}</td>
              <td>{{ transaction.adjustment_date }}</td>
              <td>{{ transaction.username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </uib-tab>
</uib-tabset>