<div class="tab-content">
  <div class="box-header">
    <div class="col-sm-6 no-padding">
      <button type="button" class="btn btn-primary btn-flat" ng-click="vm.addPO()"><i class="fa fa-plus padding-right-10"></i>Create New Purchase Order</button>
    </div>
    <div class="col-sm-6 input-group input-group-md">
      <input type="text" class="form-control" ng-model="vm.searchFilter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
          </span>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Supplier #</th>
        <th>Supplier Name</th>
        <th>Description</th>
        <th>Purchase Order Date</th>
        <th>Due Date</th>
        <th>Grand Total</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.purchase_orders | filter:vm.searchFilter">
        <td>{{ item.supplier_id }}</td>
        <td>{{ item.supplier_name }}</td>
        <td>{{ item.purchase_order_description }}</td>
        <td>{{ item.purchase_order_posting | date:'dd MMMM yyyy'}}</td>
        <td>{{ item.po_due_date | date:'dd MMMM yyyy'}}</td>
        <td>{{ item.po_grand_total }}</td>
        <td>
            <a class="padding-right-10 text-red" ng-if="item.is_active === '0'"  ng-click="vm.updateStatus(item)">
              <i class="fa fa-toggle-off medium"></i>
              <span class="text-black">Inactive</span>
            </a>
            <a class="padding-right-10 text-green" ng-if="item.is_active === '1'"  ng-click="vm.updateStatus(item)">
              <i class="fa fa-toggle-on medium"></i>
              <span class="text-black">Active</span>
            </a>
        </td>
        <td>
          <a class="padding-right-10" ng-click="vm.editItem(item)">
            <i class="fa fa-edit medium"></i>
          </a>
          <a class="padding-right-10" ng-click="vm.print(item)">
            <i class="fa fa-print medium"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>