<div class="tab-content">
  <div class="box-header">
    <div class="col-sm-6 no-padding">
      <button type="button" class="btn btn-primary btn-flat" ng-click="vm.addSales()"><i class="fa fa-plus padding-right-10"></i>Create New Sale</button>
    </div>
    <div class="col-sm-6 input-group input-group-md">
      <input type="text" class="form-control" ng-model="vm.searchFilter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
          </span>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Reference #</th>
        <th>Customer #</th>
        <th>Customer Name</th>
        <th>Transaction Date</th>
        <th>Description</th>
        <th>Grand Total</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="sale in vm.sales | filter:vm.searchFilter">
        <td>{{ sale.sales_order_id }}</td>
        <td>{{ sale.customer_id }}</td>
        <td>{{ sale.customer_name }}</td>
        <td>{{ sale.sales_order_posting | date:'dd MMMM yyyy'}}</td>
        <td>{{ sale.sales_order_description }}</td>
        <td>{{ sale.sales_order_total}}</td>
        <td>
            <a class="padding-right-10 text-red"  ng-click="vm.updateStatus(sale)">
              <span ng-class="sale.is_open === '1' ? 'text-green' : 'text-red' ">{{ sale.is_open === '1' ? 'Open' : 'Cancelled' }}</span>
            </a>
        </td>
        <td>
          <a class="padding-right-10" ng-click="vm.print(sale)">
            <i class="fa fa-print medium"></i>
          </a>
          <a class="padding-right-10 text-red" ng-if="sale.is_open === '1'" ng-click="vm.cancel(sale)">
            <i class="fa fa-ban medium"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>