<div class="tab-content">
    <div class="box-header">
      <div class="col-sm-6 no-padding">
        <button type="button" class="btn btn-primary btn-flat" ng-click="vm.addSupplier()"><i class="fa fa-plus padding-right-10"></i>Add Supplier</button>
      </div>
      <div class="col-sm-6 input-group input-group-md">
        <input type="text" class="form-control" ng-model="vm.searchFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
            </span>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Reference #</th>
          <th>Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="supplier in vm.suppliers | filter:vm.searchFilter">
          <td>{{ supplier.supplier_reference }}</td>
          <td>{{ supplier.supplier_name }}</td>
          <td>{{ supplier.supplier_address }}</td>
          <td>{{ supplier.supplier_contact }}</td>
          <td>
            <a class="padding-right-10" ng-click="vm.editSupplier(supplier)">
              <i class="fa fa-edit medium"></i>
            </a>
            <a class="red padding-right-10" ng-click="vm.deleteSupplier(supplier.supplier_id)">
              <i class="fa fa-trash medium"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>