<div>
  <h4 class="text-right text-bold">Grand Total: <span class="text-red">{{ vm.purchase_order.po_grand_total = vm.getGrandTotal() }}</span></h4>
  <form role="form" name="poForm" ng-submit="vm.purchaseOrderLines.length && vm.addPO(vm.purchase_order, vm.purchaseOrderLines)">
    <div>
        <div class="form-group col-md-4">
          <label>Supplier</label>
          <select class="form-control" 
              ng-required="true"
              ng-model="vm.purchase_order.supplier_id"
              ng-options="supplier.supplier_id as supplier.supplier_name for supplier in  vm.suppliers" required ng-disabled="vm.isFromPO">
              <option></option>
          </select>
        </div>
        <div class="form-group col-md-8">
          <label>Description</label>
          <input type="text" class="form-control" ng-model="vm.purchase_order.purchase_order_description" ng-required="true">
        </div>
    </div>
    <div>
      <div class="form-group col-md-6">
        <label>Purchase Order Date</label>
        <input type="date" class="form-control" ng-model="vm.purchase_order.purchase_order_posting" ng-required="true">
      </div>
      <div class="form-group col-md-6">
        <label>Due Date</label>
        <input type="date" class="form-control" ng-model="vm.purchase_order.po_due_date" ng-required="true">
      </div>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <ng-form>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Item Description</th>
                      <th>QTY</th>
                      <th>Unit Price</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="po_line in vm.purchaseOrderLines">
                      <td>
                        <input type="text" class="form-control" ng-blur="vm.closeSearchItem(po_line)" ng-model="po_line.selectedItem.sku" ng-change="po_line.hasSelectedItem = false" required/>
                        <div class="search-output" ng-if="po_line.selectedItem.sku && !po_line.hasSelectedItem">
                          <div class="item" ng-repeat="item in vm.inventory_items | filter: vm.searchItemData(po_line.selectedItem.sku) as filteredinventory_items" ng-click="vm.selectItem(item, po_line)" >
                            <span class="text-bold">{{item.sku}}</span> - {{item.name}}
                          </div>
                          <div ng-if="!filteredinventory_items.length">No results</div>
                        </div>
                      </td>
                      <td>
                          <input type="text" class="form-control" ng-model="po_line.selectedItem.name" ng-disabled="true" required/>
                      </td>
                      <td>
                        <input type="number" min="1" class="form-control" ng-model="po_line.expected_qty" ng-change="po_line.po_total_price = po_line.expected_qty*po_line.po_unit_price" required/></td>
                      <td>
                        <input type="number"  min="1" class="form-control" ng-model="po_line.po_unit_price" ng-change="po_line.po_total_price = po_line.expected_qty*po_line.po_unit_price" required/></td>
                      <td>
                        <input type="text" class="form-control" ng-model="po_line.po_total_price" ng-disabled="true" required/></td>
                      <td>
                        <input ng-click="vm.remove($index)" ng-hide="!vm.purchaseOrderLines.length" type="button" class="btn btn-danger btn-flat pull-right" value="Remove">
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <a ng-click="vm.addNew(po_line)" class="btn btn-primary btn-flat pull-left">Add Item</a>
                </div>
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-disabled="poForm.$invalid" type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>