<div>
    <form role="form" ng-submit="vm.add(vm.form)">
      <div class="form-group">
        <label>Expense Decsription  <span class="font-small">(Example: Utility Bills)</span></label>
        <input type="text" class="form-control" ng-model="vm.form.expense_type_description" ng-required="true">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">Save</button>
        <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
      </div>
    </form>
  </div>