<div>
  <form role="form" ng-submit="vm.addItem(vm.form)">
    <div class="form-group">
      <label>SKU <span class="font-small">(Note: This field is not required.)</span></label>
      <input type="text" class="form-control" ng-model="vm.form.sku">
    </div>

    <div class="form-group">
      <label>Name</label>
      <input ng-required="true" type="text" ng-model="vm.form.name" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Category</label>
      <select class="form-control" 
          ng-required="true"
          ng-model="vm.form.id_inventory_category"
          ng-options="category.id_inventory_category as category.name_inventory_category for category in  vm.inventory_categories">
          <option></option>
      </select>
    </div>

    <div class="form-group">
        <label>Unit Price</label>
        <input ng-required="true" type="number" ng-model="vm.form.item_price" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Unit Value</label>
      <input type="number" min="0" class="form-control" ng-model="vm.form.item_inventory_actual_measurement" required/>
    </div>
    
    <div class="form-group row vcenter">
      <div class="col-md-10">
        <label>Unit of Measurement</label>
        <select class="form-control" 
            ng-required="true"
            ng-model="vm.form.measurement"
            ng-options="measurement.id_unit_of_measurement as ( measurement.name_unit_measure + ' (' + measurement.unit_measure_label + ')') for measurement in  vm.inventory_measurements">
            <option></option>
        </select>
      </div>
      <div class="col-md-2">
        <label></label>
        <button type="button" class="btn btn-primary btn-flat margin-right-20 form-control" ng-click="vm.openCategory()"><i class="fa fa-plus padding-right-20"></i></button>
      </div>
    </div>
    
    <div class="form-group">
      <label>Initial Quantity</label>
      <input type="number" min="0" class="form-control" ng-model="vm.form.item_inventory_qty" required/>
    </div>

    <div class="form-group" ng-if="vm.form.id_inventory_category === '2'" >
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="vm.form.is_consumable"> Is Consumable?
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>