<div>
  <h4 class="text-right text-bold">Grand Total: <span class="text-red">{{ vm.sales_order.sales_order_total = vm.getGrandTotal() }}</span></h4>
  <form role="form" name="poForm" ng-submit="vm.salesLines.length && vm.addSales(vm.sales_order, vm.salesLines)">
    <div>
        <div class="form-group col-md-4">
          <label>Customer</label>
          <select class="form-control" 
              ng-required="true"
              ng-model="vm.sales_order.customer_id"
              ng-options="customer.customer_id as customer.customer_name for customer in  vm.customers">
              <option></option>
          </select>
        </div>
        <div class="form-group col-md-8">
          <label>Transaction Date</label>
          <input type="date" class="form-control" ng-model="vm.sales_order.sales_order_posting" ng-required="true">
        </div>
    </div>
    <div>
      <div class="form-group col-md-12">
        <label>Remarks</label>
        <input type="text" class="form-control" ng-model="vm.sales_order.sales_order_description" ng-required="true">
      </div>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <ng-form>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Item Description</th>
                      <th>Available Stocks</th>
                      <th>Unit Price</th>
                      <th>Item Discount %</th>
                      <th>QTY</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="sales_line in vm.salesLines">
                      <td>
                        <input type="text" class="form-control" ng-blur="vm.closeSearchItem(sales_line)" ng-model="sales_line.selectedItem.sku"
                          ng-change="sales_line.hasSelectedItem = false" required/>
                        <div class="search-output" ng-if="sales_line.selectedItem.sku && !sales_line.hasSelectedItem">
                          <div class="item" ng-repeat="item in vm.inventory_items | filter: vm.searchItemData(sales_line.selectedItem.sku) as filteredinventory_items"
                            ng-click="vm.selectItem(item, sales_line); vm.setLineDiscountPrice(sales_line);" >
                            <span class="text-bold">{{item.sku}}</span> - {{item.name}}
                          </div>
                          <div ng-if="!filteredinventory_items.length">No results</div>
                        </div>
                      </td>
                      <td>
                          <input type="text" class="form-control" ng-model="sales_line.selectedItem.name" ng-disabled="true" required/>
                      </td>
                      <td class="vcenter">
                        <span>{{ sales_line.selectedItem.item_inventory_qty }}</span>
                      </td>
                      <td>
                          <input type="text" class="form-control" ng-model="sales_line.selectedItem.item_price" ng-disabled="true" required/>
                      </td>
                      <td>
                        <input type="number" min="0" class="form-control" ng-init="sales_line.sales_order_discount_rate = 0" ng-model="sales_line.sales_order_discount_rate"
                          ng-change="vm.setLineDiscountPrice(sales_line)" required/></td>
                      <td>
                        <input type="number"  min="1" class="form-control" ng-model="sales_line.sales_line_qty" required
                        ng-change="vm.setLineDiscountPrice(sales_line); sales_line.selectedItem.isAvailableStock = (sales_line.selectedItem.item_inventory_qty >= sales_line.sales_line_qty);"
                        ng-class="(sales_line.selectedItem.item_inventory_qty >= sales_line.sales_line_qty) ? 'text-green' : 'text-red' "
                        /></td>
                      <td>
                        <input type="number" class="form-control" ng-model="sales_line.sales_line_total" ng-disabled="true" required/></td>
                      <td>
                        <input ng-click="vm.remove($index)" ng-hide="!vm.salesLines.length" type="button" class="btn btn-danger btn-flat pull-right" value="Remove">
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <a ng-click="vm.addNew(sales_line)" class="btn btn-primary btn-flat pull-left">Add Item</a>
                </div>
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="vm.checkStockAvailability()" class="font-small text-red">Some items are out-of-stock.</span>
      <button ng-disabled="poForm.$invalid || vm.checkStockAvailability()" type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>