<div>
    <form role="form" ng-submit="vm.addExpense(vm.form)">
      <div class="form-group">
        <label>Expense Date</label>
        <input type="date" class="form-control" ng-model="vm.form.expense_posting" ng-required="true">
      </div>
      <div class="form-group row vcenter">
        <div class="col-md-10">
          <label>Category</label>
          <select class="form-control" 
              ng-required="true"
              ng-model="vm.form.expense_type_id"
              ng-options="expense.expense_type_id as expense.expense_type_description for expense in  vm.expense_types">
              <option></option>
          </select>
        </div>
        <div class="col-md-2">
          <label></label>
          <button type="button" class="btn btn-primary btn-flat margin-right-20 form-control" ng-click="vm.addExpenseCategory()"><i class="fa fa-plus padding-right-20"></i></button>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" ng-model="vm.form.description" ng-required="true">
      </div>
      <div class="form-group">
        <label>Expense Total</label>
        <input type="number" class="form-control" ng-model="vm.form.expense_total" ng-required="true">
      </div>
  
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">Save</button>
        <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
      </div>
    </form>
  </div>