<div>
  <form role="form" ng-submit="!vm.isInvalidPassword && vm.addUser(vm.form)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="vm.form.first_name" ng-required="true">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="vm.form.last_name" ng-required="true">
    </div>
    <div class="form-group">
      <label>Birthdate</label>
      <input type="date" class="form-control" ng-model="vm.form.birth_date" ng-required="true">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" ng-model="vm.form.gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="vm.form.username" ng-required="true">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" ng-change="vm.checkPassword(vm.form.user_password, vm.passwordChecker)" ng-model="vm.form.user_password" ng-required="true">
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.isInvalidPassword }">
      <label>Re-type Password</label>
      <input type="password" class="form-control" ng-change="vm.checkPassword(vm.form.user_password, vm.passwordChecker)" ng-model="vm.passwordChecker" ng-required="true">
      <span class="help-block" ng-if="vm.isInvalidPassword">Password does not match</span>
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" 
          ng-required="true"
          ng-model="vm.form.user_role"
          ng-options="user.role_id as user.role for user in  vm.userRoles">
          <option></option>
      </select>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>