<div>
        <form role="form" ng-submit="vm.editUser(vm.userEditData)">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="vm.userEditData.first_name" ng-required="true">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="vm.userEditData.last_name" ng-required="true">
          </div>
          <div class="form-group">
            <label>Birthdate</label>
            <input type="date" class="form-control" ng-model="vm.userEditData.birth_date" ng-required="true">
          </div>
          <div class="form-group">
            <label>Gender</label>
            <select class="form-control" ng-model="vm.userEditData.gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" ng-model="vm.userEditData.username" ng-required="true">
          </div>
          <div class="form-group">
            <label>Role</label>
            <select class="form-control" 
                ng-required="true"
                ng-model="vm.userEditData.user_role"
                ng-options="user.role_id as user.role for user in  vm.userRoles">
                <option></option>
            </select>
          </div>
      
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-flat">Save</button>
            <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
          </div>
        </form>
      </div>