<div>
  <form role="form" ng-submit="vm.editSupplier(vm.supplierEditData)">
    <div class="form-group">
      <label>Reference #</label>
      <input type="text" class="form-control" ng-model="vm.supplierEditData.supplier_reference">
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="vm.supplierEditData.supplier_name" ng-required="true">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" ng-model="vm.supplierEditData.supplier_address" ng-required="true">
    </div>
    <div class="form-group">
      <label>Contact No.</label>
      <input type="text" class="form-control" ng-model="vm.supplierEditData.supplier_contact" ng-required="true">
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>