<div>
    <form role="form" ng-submit="vm.editExpense(vm.expenseEditData)">
      <div class="form-group">
        <label>Expense Posting</label>
        <input type="date" class="form-control" ng-model="vm.expenseEditData.expense_posting" ng-required="true">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" ng-model="vm.expenseEditData.description" ng-required="true">
      </div>
      <div class="form-group">
        <label>Expense Total</label>
        <input type="number" class="form-control" ng-model="vm.expenseEditData.expense_total" ng-required="true">
      </div>
  
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">Save</button>
        <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
      </div>
    </form>
  </div>