<div id="print-wrapper">
  <h4 class="text-right text-bold">Grand Total: <span class="text-red">{{ vm.itemEditData.po_grand_total = vm.getGrandTotal() }}</span></h4>
  <form role="form" ng-submit="vm.savePO(vm.itemEditData)">
    <div>
        <div class="form-group col-md-4">
          <label>Supplier</label>
          <select class="form-control" 
              ng-required="true"
              ng-model="vm.itemEditData.supplier_id"
              ng-options="supplier.supplier_id as supplier.supplier_name for supplier in  vm.suppliers" required ng-disabled="vm.isFromPO">
              <option></option>
          </select>
        </div>
        <div class="form-group col-md-8">
          <label>Description</label>
          <input type="text" class="form-control" ng-model="vm.itemEditData.purchase_order_description" ng-required="true">
        </div>
    </div>
    <div>
      <div class="form-group col-md-6">
        <label>Purchase Order Date</label>
        <input type="date" class="form-control" ng-model="vm.itemEditData.purchase_order_posting" ng-required="true">
      </div>
      <div class="form-group col-md-6">
        <label>Due Date</label>
        <input type="date" class="form-control" ng-model="vm.itemEditData.po_due_date" ng-required="true">
      </div>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <ng-form>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Item Description</th>
                      <th>QTY</th>
                      <th>Unit Price</th>
                      <th>Total</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="po_line in vm.itemEditData.purchase_order_lines">
                      <td>
                        <input type="text" class="form-control" ng-model="po_line.sku" ng-disabled="true" required/></td>
                      <td>
                          <input type="text" class="form-control" ng-model="po_line.name" ng-disabled="true" required/>
                      </td>
                      <td>
                        <input type="number" min="1" class="form-control" ng-model="po_line.expected_qty" ng-disabled="true" ng-change="po_line.po_total_price = po_line.expected_qty*po_line.po_unit_price" required/></td>
                      <td>
                        <input type="number"  min="1" class="form-control" ng-model="po_line.po_unit_price" ng-disabled="true" ng-change="po_line.po_total_price = po_line.expected_qty*po_line.po_unit_price" required/></td>
                      <td>
                        <input type="text" class="form-control" ng-model="po_line.po_total_price" ng-disabled="true" required/></td>
                      <!-- <td>
                        <input ng-click="vm.remove($index)" ng-if="vm.itemEditData.purchase_order_lines.length >= 2" type="button" class="btn btn-danger btn-flat pull-right" value="Remove">
                      </td> -->
                    </tr>
                  </tbody>
                </table>

                <!-- <div class="form-group">
                  <a ng-click="vm.addNew(po_line)" class="btn btn-primary btn-flat pull-left">Add Item</a>
                </div> -->
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>