<div>
    <form role="form" ng-submit="vm.editItem(vm.itemEditData)">
      <div class="form-group">
        <label>SKU</label>
        <input type="text" class="form-control" ng-model="vm.itemEditData.sku" ng-required="true">
      </div>
  
      <div class="form-group">
        <label>Name</label>
        <input ng-required="true" type="text" ng-model="vm.itemEditData.name" class="form-control">
      </div>

      <div class="form-group">
        <label>Category</label>
        <select class="form-control" 
            ng-disabled="true"
            ng-required="true"
            ng-model="vm.itemEditData.id_inventory_category"
            ng-options="category.id_inventory_category as category.name_inventory_category for category in  vm.inventory_categories">
            <option></option>
        </select>
      </div>
      
      <div class="form-group">
        <label>Unit Value</label>
        <input ng-disabled="true" type="number" min="0" class="form-control" ng-model="vm.itemEditData.item_inventory_actual_measurement" required/>
      </div>

      <div class="form-group">
        <label>Unit of Measurement</label>
        <select class="form-control" 
            ng-disabled="true"
            ng-required="true"
            ng-model="vm.itemEditData.unit_measure"
            ng-options="measurement.id_unit_of_measurement as ( measurement.name_unit_measure + ' (' + measurement.unit_measure_label + ')') for measurement in  vm.inventory_measurements">
            <option></option>
        </select>
      </div>
  
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input ng-disabled="true" type="checkbox" ng-model="vm.itemEditData.is_consumable"> Is Consumable?
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">Save</button>
        <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
      </div>
    </form>
  </div>