<div>
    <form role="form" ng-submit="!vm.isInvalidPassword && vm.resetUserPassword(vm.userEditData, vm.form)">
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-change="vm.checkPassword(vm.form.user_password, vm.passwordChecker)" ng-model="vm.form.user_password" ng-required="true">
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.isInvalidPassword }">
        <label>Re-type Password</label>
        <input type="password" class="form-control" ng-change="vm.checkPassword(vm.form.user_password, vm.passwordChecker)" ng-model="vm.passwordChecker" ng-required="true">
        <span class="help-block" ng-if="vm.isInvalidPassword">Password does not match</span>
      </div>
  
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat">Save</button>
        <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
      </div>
    </form>
  </div>