<div>
  <div class="row margin-bottom-25 vcenter">
    <div class="col-md-6">
        <form  name="poForm" role="form" ng-if="vm.props.type === 1" ng-submit="vm.selectedPO.purchase_order_id && vm.getPOLines(vm.selectedPO.purchase_order_id)">
            <label>Purchase Order #: <span class="font-small">(Note: This will auto-fill the item fields and won't be editable.)</span></label>
            <div class="input-group">
                <input type="text" class="form-control"
                  ng-blur="vm.closeSearchPO(vm.selectedPO)"
                  ng-model="vm.selectedPO.purchase_order_id"
                  ng-change="vm.selectedPO.hasSelected = false"
                  required>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary btn-flat">Submit</button>
                    </span>
            </div>
            <div class="search-output" ng-if="vm.selectedPO.purchase_order_id && !vm.selectedPO.hasSelected">
              <div class="item" ng-repeat="po in vm.purchase_orders | filter: vm.searchPOData(vm.selectedPO.purchase_order_id) as filter_po" ng-click="vm.selectPO(po, vm.selectedPO)" >
                <span class="text-bold">{{po.purchase_order_id}}</span> - {{po.purchase_order_description}}
              </div>
              <div ng-if="!filter_po.length">No results</div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4 class="text-right text-bold">{{vm.props.title}} Total: <span class="text-red">{{ vm.form.stock_transaction_total = vm.calculateTotal() }}</span></h4>
    </div>
  </div>

  <form  name="stockForm" role="form" ng-submit="vm.stockTransactionLines.length && vm.createStockTransaction(vm.form, vm.stockTransactionLines)">
    <div class="row">
        <div class="form-group col-md-4" ng-if="vm.props.type === 1">
            <label>Supplier</label>
            <select class="form-control" 
                ng-required="true"
                ng-model="vm.form.supplier_id"
                ng-options="supplier.supplier_id as supplier.supplier_name for supplier in  vm.suppliers" required ng-disabled="vm.isFromPO">
                <option></option>
            </select>
        </div>
        <div class="form-group col-md-4">
          <label>{{vm.props.title}} Date</label>
          <input type="date" class="form-control" ng-model="vm.form.stock_transaction_date" ng-required="true">
        </div>
        <div class="form-group col-md-4">
            <label>Category</label>
            <select class="form-control" 
                ng-model="vm.form.id_inventory_category" required ng-disabled="vm.isFromPO">
                <option></option>
                <option value="1">Raw Materials</option>
                <option value="2">Production</option>
            </select>
        </div>
        <div class="form-group col-md-12">
          <label>Remarks</label>
          <input type="text" class="form-control" ng-model="vm.form.stock_transaction_description" ng-required="true">
        </div>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <ng-form>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Item Description</th>
                      <th>Measurement</th>
                      <th>Available Stocks</th>
                      <th>Unit QTY</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="stockTransactionLine in vm.stockTransactionLines">
                      <td class="pos-rel">
                        <input type="text" class="form-control"
                        ng-disabled="vm.isFromPO"
                        ng-blur="vm.closeSearchItem(stockTransactionLine)" ng-model="stockTransactionLine.selectedItem.sku" ng-change="stockTransactionLine.hasSelectedItem = false" required/>
                        <div class="search-output" ng-if="stockTransactionLine.selectedItem.sku && !stockTransactionLine.hasSelectedItem">
                          <div class="item" ng-repeat="item in vm.inventory_items | filter: vm.searchItemData(stockTransactionLine.selectedItem.sku) as filteredinventory_items" ng-click="vm.selectItem(item, stockTransactionLine)" >
                            <span class="text-bold">{{item.sku}}</span> - {{item.name}}
                          </div>
                          <div ng-if="!filteredinventory_items.length">No results</div>
                        </div>
                      </td>
                      <td>
                          <input type="text" class="form-control" ng-model="stockTransactionLine.selectedItem.name" ng-disabled="true" required/>
                      </td>
                      <td>
                          <span>{{ stockTransactionLine.selectedItem.item_inventory_actual_measurement }} - {{ stockTransactionLine.selectedItem.unit_measure_label }}</span>
                      </td>
                      <td>
                          <span>{{ stockTransactionLine.selectedItem.item_inventory_qty }}</span>
                      </td>
                      <td>
                        <input type="number"  class="form-control" 
                        ng-class="(stockTransactionLine.selectedItem.item_inventory_qty >= stockTransactionLine.stock_transaction_line_qty) || vm.props.type === 1 ? 'text-green' : 'text-red' "
                        ng-disabled="vm.isFromPO"
                        ng-change="stockTransactionLine.selectedItem.isAvailableStock = (stockTransactionLine.selectedItem.item_inventory_qty >= stockTransactionLine.stock_transaction_line_qty) || vm.props.type === 1"
                        ng-model="stockTransactionLine.stock_transaction_line_qty" required/></td>
                      <td>
                        <input ng-click="vm.remove($index)" ng-hide="!vm.stockTransactionLines.length" type="button" class="btn btn-danger btn-flat pull-right" value="Remove">
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <a ng-if="!vm.isFromPO" ng-click="vm.addNew(stockTransactionLine)" class="btn btn-primary btn-flat pull-left">Add Item</a>
                </div>
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="vm.checkStockAvailability()" class="font-small text-red">Some items are out-of-stock.</span>
      <button ng-disabled="stockForm.$invalid || vm.checkStockAvailability()" type="submit" class="btn btn-primary btn-flat">Save</button>
      <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
    </div>
  </form>
</div>