<div>
    <form role="form" ng-submit="vm.add(vm.form)">
        <div>
            <div class="form-group col-md-6">
                <label>System Count</label>
                <input type="number" class="form-control" ng-model="vm.form.system_count" ng-disabled="true">
            </div>
            <div class="form-group col-md-6">
                <label>Stock Adjustment Count</label>
                <input type="number" class="form-control" ng-model="vm.form.adjustment_count" ng-required="true">
            </div>
            <div class="form-group col-md-12">
                <label>Reasons/ Remarks</label>
                <input type="text" class="form-control" ng-model="vm.form.adjustment_remarks" ng-required="true">
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-flat">Save</button>
            <a ng-click="vm.close()" class="btn btn-default btn-flat">Cancel</a>
        </div>
    </form>
</div>