<div class="modal custom-modal" ng-style="{'z-index': 1050 + index*10, display: 'block'}">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              {{ $parent.vm.props.title }}
              <button type="button" class="close" ng-click="$parent.vm.$uibModalInstance.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" ng-transclude>

          </div>
      </div>
  </div>
</div>